.home {
    height: 100%;
}
.home .content {
    padding: 0.5rem;
    padding-bottom: 3.16667rem;
    padding-top: 2rem;
    background: #fff;
    height: 100%;
    overflow: auto;
    box-sizing: border-box;
}

.home .current-position {
    height: 2rem;
    font-size:0.636rem;
    line-height: 2rem;
}

.home .current-position .down-arrow {
    position: absolute;
    right: -1.2rem;
    top: 50%;
    margin-top: -0.325rem;
}

.home .position-detail {
    position: relative;
}

/* 菜单 */
.menu ul{font-size:0;box-sizing:border-box;display:flex;justify-content:space-around;}
.menu ul li{position:relative; display:inline-block;text-align:center;width: 20%;}
.menu ul li h3{font-size:0.5rem;color:#888;line-height:1.2rem;}
.menu ul li i.icon{width:1rem;height:1rem;display:inline-block;margin-top:0.25rem;}
.menu ul li i.icon.menu-first {
  background: url(../../images/icon-index.png) no-repeat center;
  background-size: contain;
}

.menu ul li i.icon.menu-classify {
  background: url(../../images/icon-class.png) no-repeat center;
  background-size: contain;
}

.menu ul li i.icon.menu-find {
  background: url(../../images/icon-xf.png) no-repeat center;
  background-size: 96%;
}

.menu ul li i.icon.menu-cart {
  background: url(../../images/icon-cart.png) no-repeat center;
  background-size: contain;
}

.menu ul li i.icon.menu-myMan {
  background: url(../../images/icon-mine.png) no-repeat center;
  background-size: contain;
}



.menu ul li.active i.icon.menu-first {
  background: url(../../images/icon-index-active.png) no-repeat center;
  background-size: contain;
}

.menu ul li.active i.icon.menu-classify {
  background: url(../../images/icon-class-active.png) no-repeat center;
  background-size: contain;
}

.menu ul li.active i.icon.menu-find {
  background: url(../../images/icon-xf-active.png) no-repeat center;
  background-size: contain;
}

.menu ul li.active i.icon.menu-cart {
  background: url(../../images/icon-cart-active.png) no-repeat center;
  background-size: contain;
}

.menu ul li.active i.icon.menu-myMan {
  background: url(../../images/icon-mine-active.png) no-repeat center;
  background-size: contain;
}

.menu ul li b{display:none;position: absolute;top: 0.2rem;right: 0.9rem;background: #fe244b;border-radius: 50%;padding: 0.14rem;}
.menu ul li b.active{display:inline-block;}
.menu ul li.active h3{color:#fd3d53;}


/* 广告 */
.home .advertise-block {
    margin-top: 0.5rem; overflow:auto;
}
.home .advertise-block img {
    width: 100%;
    /* 有高度合适的图片时，去掉 height*/
    height: auto !important;
    max-width: 100% !important;
}
/* 发布信息 */
.home .lartest-message {
    margin-top: 0.5rem;
    overflow: hidden;
}


.home  .message-title {
    position: relative;
    height: 1px;
    background-color: #cccccc;
    width: 70%;
    margin: 0.5rem auto;
}

.home  .message-title h5 {
    font-size: 0.6rem;
    padding: 0 0.35rem;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    display: inline-block;
    color: #333;
    transform: translate(-50%, -50%);

}


.home .publish {
    position: fixed;
    width: 1.88rem;
    height: 1.88rem;
    border-radius: 50%;
    line-height: 1.88rem;
    text-align: center;
    background: #f3cb07;
    color: #fff;
    font-size:0.636rem ;
    bottom: 2.62rem;
    right: 0.4rem;
}
