/* 信息 */
.message-wrap {
    padding-top: 0.5rem;
}

.message-wrap .message-content {
    border-bottom: 1px solid #ccc;
    padding-bottom: 0.7rem;
    margin-bottom: 0.7rem;
}

.message-wrap .message-header {
    display: flex;
}
.message-wrap .message-user-info {
    flex: 3;
    position: relative;
    padding-left: 1.818rem;
}

.message-wrap .message-user-info .avatar {
    position: absolute;
    width: 1.4rem;
    height: 1.4rem;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
}

.message-wrap .message-user-info .no-avatar {
    border: 0.1rem solid #666;
    border-radius: 50%;
}

.message-wrap .message-user-info .avatar img {
    display: inline-block;
    border-radius: 50%;
    width: 100%;
    height: auto;
}

.message-wrap .message-user-info .customer-name {
   margin-bottom: 0.12rem;
}

.message-wrap .message-user-info .user-update-time {
    color: #999;
}
.message-wrap .message-text-wrap  {
    display: flex;
}

.message-wrap .message-text-wrap .message-text {
    flex: 1;
}

.message-wrap .message-text-wrap .message-img  {
    width: 7rem;
}

.message-wrap .message-text-wrap .message-img img {
    height: auto;
    width: 100%;
}

.message-wrap .wages {
    display: 1;
    color: #FF0000;
}
.message-wrap .message-footer {
    margin-top: 0.4rem;
}

.message-wrap .message-footer::after {
    content: '';
    display: none;
    clear: both;
}
.message-wrap .message-type {
    display: inline-block;
    border-radius: 0.2rem;
    padding: 0 0.454rem;
    color: #FF6600;
}

.message-wrap .message-publish-position {
    float: right;
    color: #ccc;
    padding-left: 0.909rem;
    background-image: url('../../images/icon-user.png');
    background-repeat: no-repeat;
    background-size: 0.909rem;
}

.message-wrap .message-view-count {
    display: inline-block;
}

.message-wrap .message-type-zhaopin {
    background: #ffcccc;
}

.message-wrap .message-type-changfang {
    background: #ffcc2d;
}



/* tab切换 */

.public-tab {
    margin: 0.5rem 0;
}

.public-tab ul{font-size:0;box-sizing:border-box;display:flex;justify-content:space-around;}
.public-tab ul li{position:relative; display:inline-block;text-align:center;width: 20%;}
.public-tab ul li h3{font-size:0.5rem;color:#888;line-height:1.2rem;}

.public-tab .tab-text {
    display: inline-block;
    border-bottom: 0.1rem solid transparent;
}

.public-tab .tab-text.active {
    border-color: #ff0e17;
}

/* 发布按钮 */

.public-footer {
    z-index: 999;
    font-size:0;
    background:#fff;position:fixed;
    left:0;bottom:0;width:100%;
    height: 3.16667rem;
    text-align: center;
    line-height: 3.16667rem;
}

.public-footer .publish-btn {
    position: relative;
    height: 1.2rem;
    width: 6.36rem;
    background-color: rgba(255, 153, 0, 1);
    border-radius: 0.226rem;
    border:none;
    cursor: pointer;
    font-size:0.636rem;
    color: #fff;
}
.public-footer .publish-btn-common {
    width: 0;
    transform: translate(-50%, 100%);
    -webkit-transform: translate(-50%, 100%);
    left: 50%;
    top: 50%;
    position: absolute;
    z-index: 3;
    font-size: 0.545rem;
    visibility: hidden;
}

.public-footer .publish-btn-bg {
    background: #fff;
    height: 4rem;
    position: absolute;
    width: 100%;
    bottom: 50%;
    transform: translate(0, -1.2rem);
    -webkit-transform: translate(0, -1.2rem);
    text-align: center;
    z-index: 2;
    visibility: hidden;
}

.public-footer .publish-btn-active {
    visibility: visible;
}

.public-footer .publish-btn-active .publish-btn-common {
    width: 2.272rem;
    height: 2.272rem;
    border-radius: 50%;
    border: 0.05rem solid rgba(255, 153, 0, 1);
    
    text-align: center;
    line-height: initial;
    visibility: visible;
    transition: transform 0s ease;
    -webkit-transition: -webkit-transform 0s ease;
}

.public-footer .publish-btn-active.publish-with-two-btn  .publish-animate-first{
    transform: translate(calc(-50% - 0.5rem - 1.1355rem), -50%);
    -webkit-transform: translate(-webkit-calc(-50% - 0.5rem - 1.1355rem), -50%);
}
.public-footer .publish-btn-active.publish-with-two-btn  .publish-animate-second{
    transform: translate(calc(-50% + 0.5rem + 1.1355rem), -50%);
    -webkit-transform: translate(calc(-50% + 0.5rem + 1.1355rem), -50%);
}




.public-footer .publish-btn-active .publish-animate-first {
    transform: translate(-webkit-calc(-50% - 1rem - 2.272rem), -50%);
    -webkit-transform: translate(-webkit-calc(-50% - 1rem - 2.272rem), -50%);
}
.public-footer .publish-btn-active .publish-animate-second {
   transform: translate(-50%, -50%);
   -webkit-transform: translate(-50%, -50%);
}
.public-footer .publish-btn-active .publish-animate-third {
   transform: translate(calc(-50% + 1rem + 2.272rem), -50%);
   -webkit-transform: translate(-webkit-calc(-50% + 1rem + 2.272rem), -50%);
}

/* 1rem 是之间的间隔距离， 2.272rem是每一个圆圈的宽度 */

.public-footer .publish-btn-active.publish-with-four-btn  .publish-animate-first{
    transform: translate(calc(-50% - 1.5rem - 3.4065rem), -50%);
    -webkit-transform: translate(-webkit-calc(-50% - 1.5rem - 3.4065rem), -50%);
}
.public-footer .publish-btn-active.publish-with-four-btn  .publish-animate-second{
    transform: translate(calc(-50% - 0.5rem - 1.1355rem), -50%);
    -webkit-transform: translate(-webkit-calc(-50% - 0.5rem - 1.1355rem), -50%);
}
.public-footer .publish-btn-active.publish-with-four-btn  .publish-animate-third{
    transform: translate(calc(-50% +  0.5rem + 1.1355rem), -50%);
    -webkit-transform: translate(-webkit-calc(-50% +  0.5rem + 1.1355rem), -50%);
}
.public-footer .publish-btn-active.publish-with-four-btn  .publish-animate-forth{
    transform: translate(calc(-50% + 1.5rem + 3.4065rem), -50%);
    -webkit-transform: translate(-webkit-calc(-50% + 1.5rem + 3.4065rem), -50%);
}

.publish-btn-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    width: 100%;
    color: rgba(255, 153, 0, 1);
}


/* key-value 形式的描述详情 */

.detail-message h5 {
    font-size:0.681rem;
    margin-top: 1rem;
}
.detail-message .detail-message-content {
    display: flex;
    font-size: 0.590rem;
    justify-content: start;
    margin-top: 0.362rem;
}
.detail-message .detail-message-content .detail-message-label {
    display: block;
    margin-right: 0.5rem;
    width: 2.4rem;
    text-align: right;
}
.detail-message .detail-message-content .detail-message-text-wrap {
    display: block;
    flex:1;
}
.detail-message  .tag {
    display: inline-block;
    border-radius: 0.2rem;
    padding: 0 0.454rem;
    color: #fff;
    margin-left: 0.5rem;
    background: #ffcccc;
}

.submit-btn-color {
    background: rgba(22, 155, 213, 1);
    color: #fff;
}

/* 表单 */

.public-form {
    height: 100%;
}
.public-form .content {
    padding-bottom: 1.363rem;
    padding-top: 2rem;
    background: #fff;
    height: 100%;
    overflow: auto;
    box-sizing: border-box;
}

.public-form .form-style {
    font-size: 0.636rem;
}

.public-form .zhaopin-label {
    display: inline-block;
    margin-right: 0.6rem;
    width: 2.64rem;
    text-align: right;
}
.public-form .form-input-wrap {
    flex: 1;
}

.public-form .form-input-wrap > img {
    width: 100%;
    height: auto;
}

.public-form .form-item-wrap {
    display: flex;
    margin-bottom: 0.7rem;
    position: relative;
}

.public-form .form-wrap{
    margin-top: 1.36rem;
}

.public-form .form-input {
    height: 1.59rem!important;  
    font-size: 0.636rem;
    padding: 0.2rem;
}
.public-form .input-uint {
    position: absolute;
    right: 0.4rem;
    top: 0;
    height: 1.59rem;
    line-height: 1.59rem;
}

.public-form .form-input-wrap.input-with-unit {
    padding-right: 1.4rem;
    position: relative;
}

.public-form .form-input-select {
    
    font-size: 0.636rem;
    padding: 0;
}

.public-form .checkbox-label {
    line-height: 1.42rem;
}

.public-form .line-input {
    margin: 0 0.181rem;
    color: #ccc;
    line-height: 1.59rem;
    height: 100%;
}

.public-form .upload-file {
    margin-top: 0.272rem;
}

.public-form .upload-button {
    width: 3.818rem;
    height: 1.272rem;
    font-size: 0.636rem;
    padding: 0.1rem 0.636rem;
}

.public-form .desc-wrap {
    margin: 0.363rem 0;
    padding-top: 0.05rem;
}

.public-form .form-text-area {
    font-size: 0.636rem!important;
}

.public-form .sumbit-form-wrap {
    text-align: center;
}

.public-form .sumbit-form-wrap > button {
    width: 4.727rem;
    height: 1.663rem;
    font-size: 0.636rem;
    padding: 0.1rem 0.636rem;
}


.public-form .icon-position {
    padding-left: 0.909rem;
    background-image: url('../../images/icon-user.png');
    background-repeat: no-repeat;
    background-size: 0.909rem;
}
