@charset "utf-8";
/* 格式化样式标签、基础类型样式			*/
/*多分辨率设定rem设定*/
html { font-size : 20px; height: 100%;}

/*Note3*/
@media only screen and (min-width: 360px) {
html { font-size: 22px !important; }
}

/*iPhone6*/
@media only screen and (min-width: 376px) {
html { font-size: 23px !important; }
}

/*iPhone6 plus*/
@media only screen and (min-width: 414px) {
html { font-size: 25px !important; }
}

/*big Resolution*/
@media only screen and (min-width: 641px) {
html { font-size: 25px !important;}
}

*{cursor:pointer; box-sizing: border-box;}
html { -ms-touch-action: none;}

body {
	 font-family: Heiti, Heiti SC, DroidSans, DroidSansFallback, Arial, "Microsoft YaHei";
	 background:#f2f2f2; height: 100%;
	 padding-bottom: env(safe-area-inset-bottom);
}
@supports (bottom: env(safe-area-inset-bottom)) {
	#footer-template-bort1{
	margin-bottom: env(safe-area-inset-bottom);
	}
}

.header-wrap { display: block;margin: 0 auto; text-align: center; }
.header-l { display: block;height: 1.95rem; position: absolute; top: 0; left: 0.454rem; }
.header-l a { position: relative; z-index: 1; display: inline-block; width: 0.409rem; height: 1.95rem;line-height:1.95rem;}
.header-l a i {display:inline-block; width:0.409rem; height:0.75rem;background: url(../../images/bbc-bg45.png) no-repeat center;background-size:cover;}

.header-title { display: inline-block; margin: 0 auto; }
.header-title h1 { font-size:0.818rem; line-height:2rem; height:2rem; }

header, 
.header { background: #fff; height: 2rem; position: fixed; z-index: 8; top: 0; left: 0; right: 0; bottom: auto; border-bottom: solid 1px #e7e7e7; }
.zhaopin-form {
    height: 100%;
}
.zhaopin-form .content {
    padding: 0.5rem;
    padding-bottom: 3.16667rem;
    padding-top: 2rem;
    background: #fff;
    height: 100%;
    overflow: auto;
    box-sizing: border-box;
}

.zhaopin-form .form-style {
    font-size: 0.636rem;
}

.zhaopin-form .zhaopin-label {
    display: inline-block;
    margin-right: 1rem;
}
.zhaopin-form .form-input-wrap {
    flex: 1;
}

.zhaopin-form .form-item-wrap {
    display: flex;
}

.zhaopin-form .form-wrap{
    margin-top: 1.36rem;
}

.zhaopin-form .form-input-select {
    height: 2.09rem!important;
    font-size: 0.636rem;
}