@charset "utf-8";
/* 格式化样式标签、基础类型样式			*/
/*多分辨率设定rem设定*/
html { font-size : 20px; height: 100%;}

/*Note3*/
@media only screen and (min-width: 360px) {
html { font-size: 22px !important; }
}

/*iPhone6*/
@media only screen and (min-width: 376px) {
html { font-size: 23px !important; }
}

/*iPhone6 plus*/
@media only screen and (min-width: 414px) {
html { font-size: 25px !important; }
}

/*big Resolution*/
@media only screen and (min-width: 641px) {
html { font-size: 25px !important;}
}

*{cursor:pointer; box-sizing: border-box;}
html { -ms-touch-action: none;}

body {
	 font-family: Heiti, Heiti SC, DroidSans, DroidSansFallback, Arial, "Microsoft YaHei";
	 background:#f2f2f2; height: 100%;
	 padding-bottom: env(safe-area-inset-bottom);
}
@supports (bottom: env(safe-area-inset-bottom)) {
	#footer-template-bort1{
	margin-bottom: env(safe-area-inset-bottom);
	}
}

.header-wrap { display: block;margin: 0 auto; text-align: center; }
.header-l { display: block;height: 1.95rem; position: absolute; top: 0; left: 0.454rem; }
.header-l a { position: relative; z-index: 1; display: inline-block; width: 0.409rem; height: 1.95rem;line-height:1.95rem;}
.header-l a i {display:inline-block; width:0.409rem; height:0.75rem;background: url(../../images/bbc-bg45.png) no-repeat center;background-size:cover;}

.header-title { display: inline-block; margin: 0 auto; }
.header-title h1 { font-size:0.818rem; line-height:2rem; height:2rem; }

header, 
.header { background: #fff; height: 2rem; position: fixed; z-index: 8; top: 0; left: 0; right: 0; bottom: auto; border-bottom: solid 1px #e7e7e7; }
.zhaopin-form {
    height: 100%;
}
.zhaopin-form .content {
    padding-bottom: 1.363rem;
    padding-top: 2rem;
    background: #fff;
    height: 100%;
    overflow: auto;
    box-sizing: border-box;
}

.zhaopin-form .form-style {
    font-size: 0.636rem;
}

.zhaopin-form .zhaopin-label {
    display: inline-block;
    margin-right: 0.6rem;
    width: 2.64rem;
    text-align: right;
}
.zhaopin-form .form-input-wrap {
    flex: 1;
}

.zhaopin-form .form-input-wrap > img {
    width: 100%;
    height: auto;
}

.zhaopin-form .form-item-wrap {
    display: flex;
    margin-bottom: 0.7rem;
    position: relative;
}

.zhaopin-form .form-wrap{
    margin-top: 1.36rem;
}

.zhaopin-form .form-input {
    height: 1.59rem!important;  
    font-size: 0.636rem;
    padding: 0.2rem;
}
.zhaopin-form .input-uint {
    position: absolute;
    right: 0.4rem;
    top: 0;
    height: 1.59rem;
    line-height: 1.59rem;
}

.zhaopin-form .form-input-wrap.input-with-unit {
    padding-right: 1.4rem;
    position: relative;
}

.zhaopin-form .form-input-select {
    
    font-size: 0.636rem;
    padding: 0;
}

.zhaopin-form .checkbox-label {
    line-height: 1.42rem;
}

.zhaopin-form .line-input {
    margin: 0 0.181rem;
    color: #ccc;
    line-height: 1.59rem;
    height: 100%;
}

.zhaopin-form .upload-file {
    margin-top: 0.272rem;
}

.zhaopin-form .upload-button {
    width: 3.818rem;
    height: 1.272rem;
    font-size: 0.636rem;
    padding: 0.1rem 0.636rem;
}

.zhaopin-form .desc-wrap {
    margin: 0.363rem 0;
    padding-top: 0.05rem;
}

.zhaopin-form .form-text-area {
    font-size: 0.636rem!important;
}

.zhaopin-form .sumbit-form-wrap {
    text-align: center;
}

.zhaopin-form .sumbit-form-wrap > button {
    width: 4.727rem;
    height: 1.663rem;
    font-size: 0.636rem;
    padding: 0.1rem 0.636rem;
}


.zhaopin-form .icon-position {
    padding-left: 0.909rem;
    background-image: url('../../images/icon-user.png');
    background-repeat: no-repeat;
    background-size: 0.909rem;
}
